<% include ./partials/header %>
<h1>sign up form</h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="user name">
    <input type="password" name="password" placeholder="user password">
    <button>Submit</button>
</form>

<% include ./partials/footer %>
